.welcome-text {
    color: rgb(96, 7, 179);
    text-align: center;
    margin-top: 100px;
    font-size: 70px;
}
.random-button {
    color: white;
    background-color: rgb(21, 21, 152);
    width: 100px;
    height: 100px;
    align-items: center;
    margin-right: 5px;
}
.play-button-container {
    text-align: center;
}
.song-image {
    width: 300px;
    height: 300px;
}
.play-button{
    width: 100px;
    height: 100px;
}
.song-container {
    text-align: center;
    margin-top: 10px;
}
.song-name {
    margin: 0;
}
