.songs-list-img {
    width: 360px;
    height: 300px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.songs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 170px;
}
.songlist-card {
    background-color: #1e1e1e;
    border-radius: 40px;
    overflow: hidden;
    cursor: pointer;
}
.songlist-card-active {
    background-color: #1e1e1e;
    box-shadow: 0 30px 20px 0 rgba(38, 0, 255, 0.3);
    border-radius: 40px;
    overflow: hidden;
    cursor: pointer;
}

.songlist-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  background: #2a2a2a
}
.song-info {
    color: rgb(182, 182, 205);
    display: flex;
    padding: 10px 12px;
    justify-content: space-between;
    padding-bottom: 0;
}
.song-author {
    padding-top: 0;
    padding-left: 12px;
    padding-bottom: 11px;
    margin: 0;
    color: #9ca3af;
}
.songs-list-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.songs-list-search {
    width: 400px;
}
.sorry-text {
    display: flex;
    justify-content: center;
}
.priority-button {
    width: 90px;
    height: 70px;
    background-color: blueviolet;
     cursor: pointer;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 5px 0 5px;
}

