

.song-container {
    position: absolute;
    left: 570px;
    bottom: 150px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 800px;
    width: 800px;
    background: rgb(161, 116, 203);
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.queue-container {
    position: absolute;
    right: 100px;
    top: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    width: 400px;
    background: rgb(161, 116, 203);
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}
.queue-inner-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 350px;
    width: 350px;
    background: #0f0f0f;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    max-height: 320px;
    overflow-y: auto;
  overflow-x: hidden;
}
.queue-name {
    color: blue;
}
.queue-song {
    color: blueviolet;
}


.song-image {
    width: 600px;
    height: 600px;
    border-radius: 15px;
}
.song-card {
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-song-author {
    margin-top: 0;
    
}

.queue-song-img {
    height: 50px;
    width: 50px;
}

.queue-song {
    display: flex;
}
.cross {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
}
.active {
    color: red;
}