.songs-list-img {
    width: 360px;
    height: 300px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}
.back-button {
    color: white;
    width: 100px;
    height: 100px;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
}
.songs-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.song-card {
    background-color: rgb(209, 26, 166);
    border-radius: 40px;
    overflow: hidden;
    cursor: pointer;
}
.song-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.song-info {
    display: flex;
    padding: 10px 12px;
    justify-content: space-between;
    padding-bottom: 0;
}
.song-author {
    padding-top: 0;
    padding-left: 12px;
    padding-bottom: 11px;
    margin: 0;
    color: rgb(21, 21, 152);
}
.songs-list-header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.songs-list-search {
    width: 400px;
}
.sorry-text {
    display: flex;
    justify-content: center;
}

