.player-container {
    padding-top: 20px;
    background-color: #1e1e1e;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 30px;
}
.progress-range {
    accent-color: blueviolet;
    cursor: pointer;
}
.volume-range {
    accent-color: rgb(43, 141, 226);
    cursor: pointer;
}


 
.play-button {
    width: 50px;
    height: 50px;
    cursor: pointer;
     background: #b40391;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    margin: 0 5px 0 5px;
}

.play-button:hover{
    background: #d970c2;
}

.player-song-image {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    cursor: pointer;
}
.song-details {
    display: flex;
    align-items: center;
}
.player-song-description {
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
}
.player-song-name {
    margin-bottom: 0;
}
.player-song-author {
    color: rgb(21, 21, 152);
}
.player-time {
    margin-top: 0;
    }
.player-ranges {
    display: flex;
}
.progress {
    text-align: center;
}
.player-song-heart {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
}