.sidebar {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    background: #0f0f0f;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.side-links {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button {
    margin-top: 10px;
}

button.nav-button {
    color: white;
    background-color: #1f1f1f;
    width: 100px;
    height: 100px;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
button.nav-button-active {
    color: white;
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
button.nav-button:hover {
    background-color: #2a2a2a;
}

.logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}