.sidebar {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    background: #1e1e1e;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.side-links {
    display: flex;
    flex-direction: column;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button {
    margin-top: 10px;
}

button.nav-button {
    color: white;
    background-color: #b40391;
    width: 100px;
    height: 100px;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
button.nav-button-active {
    color: white;
    background-color: rgb(136, 16, 157);
    width: 100px;
    height: 100px;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
button.nav-button:hover {
    background-color: #d970c2;
}

.logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}